/*-- scss:defaults --*/

// fonts

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

$font-family-sans-serif: 'Pretendard', sans-serif;

// headings

$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size: 1.3em;